{
  auto_https off   # do NOT try to get certs inside the container
  admin off
}

http://:{$PORT} {
  root * /app/replay.pokemonshowdown.com
  encode zstd gzip

  log {
    output stdout
    format console
    level DEBUG
  }

  php_server
  file_server
}
